@{
    ViewData["Title"] = "拒绝访问";
}
<br/>
<header>
    <div class="alert alert-danger">
        <h2 class="text-danger">@ViewData["Title"]</h2>
    </div>
    <p class="text-danger">
        您无权访问此资源
    </p>
    <p class="text-danger">
        @Html.Raw(ViewBag.ErrorMsg)
    </p>
</header>
