@{
}

<div style="text-align: center;color: #888;font-size: 11px;padding-bottom: 15px;">
    <p>Aspire.Idp授权认证中心</p>
    <small class="d-block mb-3 text-muted">© 2023-2023 by Aspire.Idp <a href="https://github.com/skoruba/IdentityServer4.Admin" target="_blank">Skoruba.IdentityServer4.Admin</a> </small>
</div>