* {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
}
#body {
  display: flex;
  flex-direction: column;
}
#body > main {
  flex: 1;
}
.container {
  margin: 30px 20px;
  text-align: right;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
a {
  text-decoration: unset;
  color: #007bff;
}
.el-input__suffix {
  position: absolute;
  right: 10px;
}